<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <%= link_to admin_root_url, class: "nav-link" do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      Dashboard
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_charts_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-chart-area"></i>
    Chart
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to  admin_posts_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-table"></i>
    Post Managerment
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to  admin_places_path, class: "nav-link" do %>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    Place Managerment
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_users_path, class: "nav-link" do %>
      <i class="fa fa-users" aria-hidden="true"></i>
      Users
    <% end  %>
  </li>
</ul>
