<h1>Users</h1>
<%= will_paginate @users %>
<div class="row">
  <div class="offset-md-2 col-lg-8 offset-lg-3 col-xl-6">
    <div class="card bg-light card-body mb-3 profile">
      <div class="col-md-12">
        <div class="col-12 col-md-8 ">
          <ul>
            <% @users.each do |user| %>
              <li>
                <%= image_tag user.picture if user.picture? %>
                <br>
                <%= link_to user.name , user_path(user) %>
                <br>
                <h6>Email:<%= user.email %></h6>
                <br>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= will_paginate @users %>
