<h3>Search Result</h3>
<table class="table table-striped">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <% @results.each do |result| %>
  <tr>
    <td><%= image_tag result.picture.presence || "default_avatar.png" %></td>
    <td><%= link_to result.name ,user_path(result) %></td>
    <td><%= result.email %></td>
    <td><%= result.phone %></td>
  </tr>
<% end %>
</table>
<%= link_to "Back", users_path, class: "btn btn-primary" %>
