<div class="row">
  <div class="offset-md-2 col-lg-8 offset-lg-3 col-xl-6">
    <div class="card bg-light card-body mb-3 profile">
      <div class="col-md-12">
        <div class="col-12 col-md-8 float-left">
          <h2><%= @user.name %></h2>
          <%= image_tag @user.picture.presence || "default_avatar.png" %>
          <br>
          <strong>Bio:</strong><quote><%= @user.bio %></quote>
          <br>
          <strong>Email:</strong><%= @user.email %>
          <br>
          <strong>Contact: (+84) </strong><%= @user.phone %>
        </div>
      </div>
      <div class="col-12 divider text-center">
        <div class="col-12 col-md-4 float-left emphasis">
          <h2><strong id="followers"><%= @user.followers.size %></strong></h2>
          <p><small><%= link_to "Followers" ,followers_user_path %></small></p>
          <%= render "follow_form" %>
        </div>
        <div class="col-12 col-md-4 float-left emphasis">
          <h2><strong id="followers"><%= @user.following.size %></strong></h2>
          <p><small><%= link_to "Following" ,following_user_path %></small></p>
          <% if current_user == @user %>
            <%= link_to edit_user_path, class: "btn btn-info btn-block"  do %>
              <i class="fa fa-user"></i>
              Edit Profile
            <% end %>
          <% end %>
        </div>
        <div class="col-12 col-md-4 float-left emphasis">
          <h2><strong><%= @user.posts.size %></strong></h2>
          <p><small>Posts</small></p>
          <div class="btn-group dropup btn-block">
            <%= link_to "#", class: "btn btn-primary" do %>
              <i class="fa fa-gear"></i>
              Options
            <% end %>
            <%= link_to "#" ,class: "btn btn-primary dropdown-toggle", data:
              { toggle: "dropdown" } do %>
              <i class="sr-only"></i>
              <% end %>
            <ul class="dropdown-menu text-left" role="menu">
              <li class="dropdown-item">
                <%= link_to "Report", new_user_report_path(@user), class: "btn btn-info btn-lg", data: {toggle: "modal", target: "#myModal"}%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
