<div class="row">
  <div class="offset-md-2 col-lg-8 offset-lg-3 col-xl-6">
    <div class="card bg-light card-body mb-3 profile">
      <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-lg') %>
      <div class="col-md-12">
        <div class="col-12 col-md-8">
          <h1>Follow</h1>
          <ul>
            <% @users.each do |user| %>
              <li>
                <p>
                  <%= image_tag user.picture.presence || "default_avatar.png" %>
                </p>
                <p>
                  Name: <%= link_to user.name , user_path(user) %>
                </p>
                <p>Email: <%= user.email %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-lg') %>
    </div>
  </div>
</div>
