<div class="col-12 col-sm-9 col-md-6 col-lg-4">
  <div class="sidebar-area mt-100">
    <div class="single-widget-area video-widget">
      <div class="single-video-widget d-flex">
        <div class="video-thumbnail">
          <%= image_tag "c1.jpg" %>
        </div>
        <div class="video-text">
          <%= link_to "Assemble Your Squad and Join the Battle", "#", class: "video-title" %>
          <span>Nintendo Wii, PS4, XBox 360</span>
        </div>
        <div class="video-rating">8.3/10</div>
      </div>
      <div class="single-video-widget d-flex">
        <div class="video-thumbnail">
          <%= image_tag "c1.jpg" %>
        </div>
        <div class="video-text">
          <%= link_to "Tips to improve your game", "#", class: "video-title" %>
          <span>Nintendo Wii, PS4, XBox 360</span>
        </div>
        <div class="video-rating">8.3/10</div>
      </div>
      <div class="single-video-widget d-flex">
        <div class="video-thumbnail">
          <%= image_tag "c1.jpg" %>
        </div>
        <div class="video-text">
          <%= link_to "Game reviews: the best of 2018", "#", class: "video-title" %>
          <span>Nintendo Wii, PS4, XBox 360</span>
        </div>
        <div class="video-rating">8.3/10</div>
      </div>
      <div class="single-video-widget d-flex">
        <div class="video-thumbnail">
          <%= image_tag "c1.jpg" %>
        </div>
        <div class="video-text">
          <%= link_to "Assemble Your Squad and Join the Battle", "#", class: "video-title" %>
          <span>Nintendo Wii, PS4, XBox 360</span>
        </div>
        <div class="video-rating">8.3/10</div>
      </div>
      <div class="single-video-widget d-flex">
        <div class="video-thumbnail">
          <%= image_tag "c1.jpg" %>
        </div>
        <div class="video-text">
          <%= link_to "New to gaming? Here are some tips", "#", class: "video-title" %>
          <span>Nintendo Wii, PS4, XBox 360</span>
        </div>
        <div class="video-rating">8.3/10</div>
      </div>
    </div>
    <div class="single-widget-area post-widget">
      <h4 class="widget-title">Top Places </h4>
      <% @places.each do |place| %>
        <div class="single-post-area d-flex">
          <div class="blog-thumbnail">
            <%= image_tag "c1.jpg" %>
          </div>
          <div class="blog-content">
            <%= link_to  place.name , "#" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
