<tr>
  <td><%= post.id %></td>
  <td><%= post.user.name%></td>
  <td><%= post.title %></td>
  <td><div id="overflow"><%= post.content.html_safe %></div></td>
  <td><%= post.place.name %></td>
  <td>
    <%= link_to "Details", admin_post_path(post), class: "btn btn-success"%>
    <% if post.active? %>
      <%= link_to "UnBlock", admin_post_path(post), method: :delete, class: "post-title, btn btn-warning" %>
    <% else %>
      <%= link_to "Block", admin_post_path(post), method: :delete, class: "post-title, btn btn-warning" %>
    <% end %>
  </td>
</tr>
