<section class="articles-area section-padding-0-100">
  <%= link_to @post.user.name, admin_user_path(@post.user.id), class: "post-title" %><br>
  <% if @post.status == "active" %>
    <%= link_to "UnBlock", admin_post_path(@post), method: :delete, class: "post-title, btn btn-warning" %>
  <% else %>
    <%= link_to "Block", admin_post_path(@post), method: :delete, class: "post-title, btn btn-danger" %>
  <% end %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <div class="mt-100">
            <div class="login-panel panel panel-default">
              <h1><%= @post.title %></h1>
              in <h7><%= @post.place.name %></h7>
              <p>
                <p><%= @post.content.html_safe %></p>
              </p>
              <%= render "comments/comments", @comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
