<% if logged_in? %>
  <section class="articles-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="mb-100">
              <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                <%= link_to "Create Post", new_post_path, class: "btn" %>
              </div>
              <br><hr>
              <%= render @posts %>
              <%= will_paginate @posts %>
            </div>
          </div>
          <%= render "shared/place_is_max_post"%>
        </div>
    </div>
  </section>
<% else %>
  <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-4 about-imgs-txt">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
              <div class="about-span-txt">
                <span class="fa fa-handshake-o" aria-hidden="true"></span>
              </div>
            </div>
            <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
              <h6 class="mb-lg-3 mb-2">Fishing</h6>
              <p>Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
            </div>
          </div>
          <div class="row my-lg-5 my-md-4 my-3">
            <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
              <h6 class="mb-lg-3 mb-2">Sailing</h6>
              <p>Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
              <div class="about-span-txt">
                <span class="fa fa-superpowers" aria-hidden="true"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
              <div class="about-span-txt">
                <span class="fa fa-binoculars" aria-hidden="true"></span>
              </div>
            </div>
            <div class="about-w3layouts-left col-lg-9 col-md-9 col-sm-9">
              <h6 class="mb-lg-3 mb-2">Water sports</h6>
              <p>Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 about-imgs-txt">
          <%= image_tag "ab1", alt: "news image", class: "img-fluid" %>
        </div>
        <div class="col-lg-4 col-md-6 text-right about-two-grids">
          <h3 class="title mb-md-4 mb-sm-3 mb-3">What Is Our History</h3>
          <div class="about-para-txt">
            <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit sed do eiusmod tempor incididunt ut Lorem ipsum dolor
              sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod
              tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore
              et consectetur adipiscing</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="counter-reset">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 count-wthree-num text-center">
          <h5 class="mb-lg-4 mb-md-4 mb-3">400+</h5>
          <h4 class="mb-3">Water sports</h4>
          <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 count-wthree-num text-center color-one">
          <h5 class="mb-lg-4 mb-md-4 mb-3">250+</h5>
          <h4 class="mb-3">Water sports</h4>
          <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 count-wthree-num text-center color-two">
          <h5 class="mb-lg-4 mb-md-4 mb-3">300+</h5>
          <h4 class="mb-3">Water sports</h4>
          <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt</p>
        </div>
      </div>
    </div>
  </section>
  <section class="blog" id="blog">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 ">
          <div class="blog-wthree-list">
            <div class="blog-date-time mb-2">
              <ul>
                <li>
                  <a href="single.html">July 2020/7</a>
                </li>
                <li>
                  <a href="single.html">Comments 5</a>
                </li>
              </ul>
            </div>
            <h4 class="mb-3">
              <a href="single.html">Lorem ipsum dolor</a>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.Vestibulum nibh urna</p>
            <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
              <a href="single.html" class="btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 main-title-text">
          <h3 class="title">Our Latest News & Blog</h3>
        </div>
      </div>
      <div class="row mt-lg-4 mt-3">
        <div class="col-lg-6 blog-two-two">
          <div class="blog-date-time mb-2">
            <ul>
              <li>
                <a href="single.html">July 2020/7</a>
              </li>
              <li>
                <a href="single.html">Comments 5</a>
              </li>
            </ul>
          </div>
          <h4 class="mb-3">
            <a href="single.html">Lorem ipsum dolor</a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.Vestibulum nibh urna</p>
          <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
            <a href="single.html" class="btn">Read More</a>
          </div>
        </div>
        <div class="col-lg-6">
          <%= image_tag "ab1", class: "img-fluid", alt: "news image" %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= image_tag "ab1", class: "img-fluid", alt: "news image" %>
        </div>
        <div class="col-lg-6 blog-two-two">
          <div class="blog-date-time mb-2">
            <ul>
              <li>
                <a href="single.html">July 2020/7</a>
              </li>
              <li>
                <a href="single.html">Comments 5</a>
              </li>
            </ul>
          </div>
          <h4 class="mb-3">
            <a href="single.html">Lorem ipsum dolor</a>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.Vestibulum nibh urna</p>
          <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
            <a href="single.html" class="btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clients py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <%= image_tag "c1", alt: "news image", class: "img-fluid" %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 clients-w3pvt-txt p-0">
              <h4>Jack Will</h4>
              <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
              </p>
            </div>
          </div>
          <div class="row mt-lg-4 mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <%= image_tag "c2", alt: "news image", class: "img-fluid" %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 clients-w3pvt-txt p-0">
              <h4>Rose Will</h4>
              <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
              </p>
            </div>
          </div>
          <div class="row mt-lg-4 mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <%= image_tag "c3", alt: "news image", class: "img-fluid" %>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 clients-w3pvt-txt p-0">
              <h4>Rose Will</h4>
              <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 main-title-text">
          <h3 class="title">What People Says About Us</h3>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 clients-w3pvt-txt p-0">
              <h4>Jack Will</h4>
              <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <%= image_tag "c2", alt: "news image", class: "img-fluid" %>
            </div>
          </div>
          <div class="row mt-lg-4 mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6 clients-w3pvt-txt p-0">
              <h4>Rose Will</h4>
              <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <%= image_tag "c1", alt: "news image", class: "img-fluid" %>
            </div>
          </div>
          <div class="row mt-lg-4 mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6 clients-w3pvt-txt p-0">
              <h4>Rose Will</h4>
              <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
              <%= image_tag "c4", alt: "news image", class: "img-fluid" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
