<div class="single-articles-area d-flex flex-wrap mb-30">
  <%= link_to post.user.name, user_path(post.user.id), class: "post-title" %>
  <div class="article-content">
    <%= link_to post.title, post, class: "post-title" %>
    <div class="post-meta, overflow">
      <p class = "post-date">Posted <%= time_ago_in_words post.created_at %> ago. /
      <p><%= link_to "Comments: ", post, class: "post-comments" %><%= post.comments.size  %></p>
      <% if current_user? post.user  %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"}%>
      <% end %>
      <p><%= post.content.html_safe %></p>
    </div>
    <%= link_to "Read more", "#", class: "btn egames-btn mt-50" %>
  </div>
</div>
