<section class="articles-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center title">
      <div class="col-12 col-lg-8" style="float: left">
        <div class="mb-100">
          <div class="login-panel panel panel-default">
            <h1 class="mt-5"><%= @post.title %></h1>
            <i><small>Post by: <%= link_to "#{@post.user.name}", @post.user %></small></i>
          </div>
          <div class="form-group mt-2">
            <% if current_user? @post.user  %>
              <%= link_to "Edit", edit_post_path(@post) %>
              /
              <%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure?"}%>
            <% else %>
              <%= link_to "Report", new_post_report_path(@post), data: {toggle: "modal", target: "#myModal"} %>
            <% end %>
          </div>
          <hr>
          <div class="content"><%= @post.content.html_safe %></div>
          <br>
          <hr>
          <div class="login-panel panel panel-default">
            <h5>Comment: </h5>
          </div>
          <div class="col-md-12">
            <%= render "comments/comments", post: @post %>
            <%= render "comments/comment_form", post: @post %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4" style="float: right;">
        <%= render "posts/rate_post" %>
      </div>
    </div>
  </div>
</section>
<%= render "reports/new", obj: @post, send_to_id: @post.user.id, send_to_type: "Post", url: @post.id  %>
