<h1>Report Post</h1>
<div class="panel-body">
  <%= form_for [@post, @report] do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, placeholder: "Content..." , class: "form_control" %>
      </div>
      <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Create", class: "btn btn-primary", data: {confirm: "Are you sure?"} %>
  <% end %>
  <%= link_to "Cancel", root_path, class: "btn btn-primary" %>
</div>

