<div class="main-top" id="home">
  <div class="headder-top">
    <nav>
      <div id="logo">
        <h1>
         <%= link_to "SUN* Journey", root_url %>
        </h1>
      </div>
      <ul class="menu mt-2">
        <li class="active">
          <%= link_to "Home", index_path %>
        </li>
        <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
          <%= link_to "About", about_path %>
        </li>
        <% if logged_in? %>
          <li  id = "noti_Button">
            <em class="fa fa-bell" ></em>
            <%=  render "notifications/notification_count", new_notifications_count: @new_notifications_count %>
            <ul class="dropdown-menu" >
              <div id="notifications" class="dropdown-messages-box">
                <%= render @notifications_limits %>
              </div>
              <li class="divider"></li>
              <li><%= link_to "See All", notifications_path %></li>
            </ul>
          </li>
        <% end %>
        <li>
          <div class="search-login-area d-flex align-items-center">
            <div class="top-search-area">
              <%= form_tag searches_path, method: :get do %>
                <div class="input-group">
                  <%= search_field_tag :search, params[:search], placeholder: "Search",class: "form-control" %>
                  <%= select_tag :place_id, options_for_select((@place_options),
                    params[:place_id]), include_blank: true %>
                  <div class="input-group-btn">
                    <%= button_tag "", class: "btn btn-info glyphicon glyphicon-search"%>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown">
              <%= "#{current_user.name}"%><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Users", users_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", log_out_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <div class="search-login-area d-flex align-items-center">
              <div class="login-area">
                <%= link_to "Login", signin_path %> / <%= link_to "Register", signup_path %>
                </span> <i class="fa fa-lock" aria-hidden="true"></i>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="main-banner">
    <div class="container-fluid">
      <div class="style-banner ">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-13">
            <div class="banner-right-txt">
              <h4>Fun and Adventure</h4>
              <h4>With Joyful Trip</h4>
              <div class="two-demo-button mt-lg-4 mt-md-3 mt-3">
                <p>" Life is short and the world is wide.
                    <br>
                   Let’s explore the world together! "</p>
              </div>
              <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                <% if logged_in? %>
                  <small style="color: white">So Wonderful! Wish you have a nice trip !
                  </small>
                <% else  %>
                  <%= link_to "Login", signin_path %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
